.container {
  text-align: center;
  background-color: black;
  font-family: sans-serif;
}

.main-content {
  background-color: dimgray;
  padding:0;
  margin:0;
  position: sticky;
  width: 100%;
  height: max-content;
}

.header {
  color: aliceblue;
  padding-top: 5px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
}

h5 {
  color: aliceblue;
  size: 10px;
}
