.container {
  text-align: center;
  background-color: black;
  font-family: sans-serif;
  /* display: flex;
  flex-direction: column; */
}

.main-content {
  background-color: dimgray;
 
}

.header {
  color: aliceblue;

}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
}

h5 {
  color: aliceblue;
  size: 10px;
}